<header class="header-main-content" [class.open]="open">
  <div class="triangle left" [class.open]="open"><img class="scale-up-center header-img" src="../../../../assets/img/rick-and-morty.png" alt=""></div>
  <div class="triangle right" [class.open]="open"><img class="scale-up-center header-img" src="../../../../assets/img/rick-and-morty.png" alt=""></div>
  <button class="btn" *ngIf="!open" [class.open]="open" (click)="start()">comenzar</button>
</header>
<div class="content">
  <div class="glass">
    <router-outlet *ngIf="open"></router-outlet>
  </div>
</div>
